{% trans_default_domain 'FOSUserBundle' %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a>
    <a class="btn btn-info" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
{% elseif route != 'fos_user_security_login' and route != 'fos_user_registration_register' %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-group">
            <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
        </div>
        <button type="submit" class="btn btn-success">{{ 'layout.login'|trans }}</button>
        <a class="btn btn-info" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
    </form>
{% endif %}