{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: <a href="{{ path('fos_user_profile_edit') }}">{{ user.username }}</a></p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p><a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.reset.submit'|trans }}</a></p>
</div>
